@font-face { font-family: 'Helvetica Neue'; src: url('../Fonts/HelveticaNeue.dfont');}
@font-face { font-family: 'Helvetica Neue'; src: url('../Fonts/BebasNeue.otf');}

html{
	background-image: url('http://i3.kym-cdn.com/entries/icons/original/000/013/564/aP2dv.gif');
}

#message{
	font-family: 'Comic Sans' 'Comic-San' 'Comic Sans MS';
	color: pink;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100px;
	width: 700px;
	font-size: 500%;
	margin-top: -50px;
	margin-left: -200px;
	float: left;
}

#button{
	font-family: 'Helvetica';
	color: #000000;
	font-size: 13px;
	text-align: center;
	top: 30px;
	float: left;
	border-radius: 100%;
	background-color: #FFFFFF;
	position: relative;
	height: 50px;
	width: 50px;
}